{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <twig:alert type="info" dismissible="true" message="hello!">This is an alert component</twig:alert>
    <code>
        &lt;twig:alert type="info" dismissible="true" message="hello!"&gt;This is an alert component&lt;/twig:alert&gt;
    </code>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        Welcome, {{ app.user.email }}! (roles: {{ app.user.roles|join(',') }})
        <a href="{{ path('app_logout') }}">Logout</a>
    {% else %}
        Welcome, visitor!
        <a href="{{ path('app_login') }}">Log In</a>
        {{ include('@SurvosAuth/_social_media_login_buttons.html.twig') }}

    {% endif %}

</div>
{% endblock %}
